<div class="container-fluid row-fluid">
	<div class="span8 offset2">
	<h4 class="pull-right">Time now: <%= @pst %></h4>
	<% if @is_noon==1 %>
	<h1>Trains to home </h1>
	<%else%>
	<h1>Trains to office </h1>
	<% end %>
<table class="table" style="background:ghostwhite;">

	<thead>
    <tr>
      <th>#</th>
      <th> Destination </th>
      <th>Arrives in </th>
      <th>Platform</th>
    </tr>
  </thead>
	
	<% c=1 %>
	<% @links.each do |l| %>
	  <% if l.present? %>
		  <tr>
				<td><%= c %></td>
				<td><%= l['destination'] %></td>
				<td><%= l['minutes'] %> mins </td>
				<td style="background:<%=l['hex']%>;
    							display: inline-block;
    							-webkit-border-radius: 9px; -moz-border-radius: 1px; 
    							border-radius: 12px;
    							color: #fff;
    							padding: 0px 6px;
    							margin: 5px 0px 0px 30px;
    							"><%= l['plat'] %></td>
			</tr>
			<% c= c+1;%>
		<% end %>
	<% end %>

</table>

</div>
</div>
